<div class="score-panel">
    <div class="score">
        <span>Score:</span>
        <span id="score">{{score}}</span>
    </div>
    <div class="level">
        <span>Level:</span>
        <span id="level">{{level}}</span>
    </div>
    <div class="timer">
        <span>Time:</span>
        <span id="time-remaining">{{timeRemaining}}</span>
    </div>
    <div class="timer-progress-bar-container">
        <div id="time-progress" style="width: {{timeProgress}}%; background-color: {{timeColor}}; height: 10px;"></div>
    </div>
    <div class="lines">
        <span>Lines:</span>
        <span id="lines">{{lines}}</span>
    </div>
</div>
